.container {
  width: 300px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header {
  font-size: 1.4rem;
  text-align: center;
}
.chatbody {
  overflow-y: scroll;
  height: 250px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #000;
}
.content {
  display: flex;
  align-items: center;
}
.content p {
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: max-content;
  border-radius: 5px;
  background-color: rgba(80, 53, 26, 0.1);
}
.meta {
  padding: 5px 10px;
  background-color: rgba(131, 255, 129, 0.5);
  border-radius: 10px;
}
.footer input {
  width: 80%;
}
.container button {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 600px;
  }
}
